:root {
  --neutral06: #3d3d3d;
  --neutral05: #a1a0a3;
  --neutral04:#D5D4D8;
  --primary05: #7d3ce9;
  --primary02: #ded8e8;
  --secondary03: #ccf3fc;
  --secondary05: #0f3899;
  --turquoise: #5d94a0;
  --white: #ffffff;
  --head-one-font-size:26px;
  --head-one-line-height: 39px;
  --span-font-size:12px;
  --span-line-height: 18px;
  --paragraph-font-size: 14px;
  --paragraph-line-height: 21px;
  --background-color: #f5f5f5;
  --white-color:#ffffff;
}
